@use 'sass:map';
@use './colors-variables' as *;

/* Background utilities */
@each $color, $color-map in $all-colors {
  @each $shade in map.keys($color-map) {
    .bg-#{$color}-#{$shade} {
      background-color: map.get($color-map, $shade) !important;
    }
  }
}

/* Text color utilities */
@each $color, $color-map in $all-colors {
  @each $shade in map.keys($color-map) {
    .text-#{$color}-#{$shade} {
      color: map.get($color-map, $shade) !important;
    }
  }
}

/* Primary/Secondary shortcuts */
.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}

.text-white {
  color: white;
}
