.actionList {
  @media (max-width: 1023px) {
    position: fixed;
    bottom: 16px; // 16px margin from bottom
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 16px; // Side padding
  }
}

.inputSearch {
  @media (max-width: 1023px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    z-index: 9;
  }
}
