@use '../../../assets//style/colors/colors-variables' as *;
@use 'sass:map';
.navMenu {
  li {
    cursor: pointer;
    &:hover {
      color: map.get($blue, 'normal-hover');
    }
  }
}

@media (max-width: 1023px) {
  .navMenu {
    flex-direction: column;
    width: 100%;
    @extend .h6 !optional;
  }
}
